<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">
                    Menu de administrador
                </h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="form-group text-center">
                        <h4>Hola {{nombreUser.name}} </h4>
                        <h1>¡Bienvenido a tu panel de control como administrador!</h1>
                    </div>
                    <div class="jumbotron">
                        <a href="/Articulos/infoAdministrador"
                            class="btn btn-dark btn-lg btn-block">Administradores</a>
                        <p class="lead">Tabla de administradores registrados</p>
                        <hr class="my-4">

                        <a href="/Articulos/infoUsuarios" class="btn btn-dark btn-lg btn-block">Usuarios</a>
                        <p class="lead">Tabla de usuarios registrados</p>
                        <hr class="my-4">

                        <a href="/Articulos/infoArticulos" class="btn btn-dark btn-lg btn-block">Articulos</a>
                        <p class="lead">Tabla de articulos registrados</p>
                        <hr class="my-4">

                        <a href="/Articulos/infoReporteCompleto" class="btn btn-dark btn-lg btn-block">Reporte Completo</a>
                        <p class="lead">Reporte completo de datos registrados en la base de datos</p>
                        <hr class="my-4">

                        <a href="/Registrate" class="btn btn-primary">Registrar</a>
                        <p class="lead">Registra a un usuario o un administrador</p>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>