<section id="pricing">
    <div class="container">
        <div class="content-center">
            <h2>Información del administrador principal</h2>
            <p>Esta es la informacion completa del <b>administrador y desarrollador</b> de esta pagina web. </p>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="pricing-container">
                    <div class="plans plan-light">
                        <h4>Información personal</h4>
                        <h2> Diana Laura Hernández Romero</h2>
                        <h4> Estudiante de <span>MSC en ITSM</span></h4>
                        <ul class="topmargin-xs">
                            <li>Correo electronico: 212t0437@itsm.edu.mx</li>
                            <li>Numero telefonico: +52 229 233 5179</li>
                            <li>LinkedIn: <a
                                    href="https://www.linkedin.com/in/diana-laura-hernández-bb66a11b8/">linkedin.com/Diana-laura-hernandez</a>
                            </li>
                        </ul>
                        <a href="mailto:212t0437@itsm.edu.mx?subject=Solicitud%20ALTA%20como%20usuario%20en%20Art4School&body=Buen%20dia%20%0A%0AHe%20visitado%20Art4School%20y%20me%20gustaria%20adquirir%20una%20cuenta%20como%20usuario%20en%20la%20plataforma%20para%20comenzar%20a%20subir%20articulos%20cientificos.%20%0A%0AGracias%20y%20espero%20su%20respuesta"
                            class="btn btn-dark full-width topmargin-sm">Da click aqui para obtener una cuenta de
                            usuario</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pricing-container">
                    <div class="plans plan-dark">
                        <h4>Información escolar</h4>
                        <h2>Educación y desarrollo</h2>
                        <ul class="topmargin-xs">
                            <li>Estudiante de Maeestría en Sistemas Computacionales en el Insitituto Tecnologico Superior de Misantla
                 
                            </li>
                            <li>
                                Egresada de Ingenieria en Mecatrónica en la Universidad Tecnologica del Centro de Veracruz
                            </li>
                            <li>
                                Desarrolladora de Art4School
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>