
section id="portafolio">
    <div class="container-fluid">
        <div class="content-center">
            <h2>Los articulos cientificos necesarios para tus investigaciones y tareas</h2>
            <p>Bienvenido a Art4School. En este buscador podras encontrar y agregar los articulos científicos necesarios para tus investigaciónes
                y tareas <b>¡HECHO POR ALUMNOS Y PARA ALUMNOS!</b> </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="portafolio-container">
                    <div class="portafolio-details">
                        <a href="/IniciaSesion">
                            <h2>Inicia sesión</h2>
                        </a>
                        <p>Inicia sesión como usuario o administrador</p>
                    </div>
                    <img src="/images/password.jpg" class="img-fluid" alt="portafolio 1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="portafolio-container">
                    <div class="portafolio-details">
                        <a href="/">
                            <h2>Articulos y posters</h2>
                        </a>
                        <p>Registra tus articulos y posters cientificos para su consulta </p>
                    </div>
                    <img src="/images/articulo.jpg" class="img-fluid" alt="portafolio 1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="portafolio-container">
                    <div class="portafolio-details">
                        <a href="/">
                            <h2>Edita</h2>
                        </a>
                        <a href="#">
                            <p>Puedes editar los datos de tus articulos en tu pagina de usuario</p>
                        </a>
                    </div>
                    <img src="/images/edit.jpg" class="img-fluid" alt="portafolio 1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="portafolio-container">
                    <div class="portafolio-details">
                        <a href="/IniciaSesion">
                            <h2>Control para administrador</h2>
                        </a>
                        <a href="#">
                            <p>Si eres administrador, inicia sesion para ver el panel de control de los articulos</p>
                        </a>
                    </div>
                    <img src="/images/admin.jpg" class="img-fluid" alt="portafolio 1">
                </div>
            </div>
        </div>

        <div class="text-center topmargin-sm">
            <p> Si requieres de una cuenta para ser usuario de Art4School</p>
            <a href="/aboutUs" class="text-dark">Contacta con el administrador principal</a>
        </div>
    </div>
</section>

<section id="aboutUS" class="bg-light-grey">
    <div class="container">
        <div class="content-center">
            <h2>Art4School surgió con <b>propositos escolares</b> </h2>
            <p>Los primeros tres propositos son aplicar lo aprendido en la asignatura de base de datos dentro de la
                maestria de sistemas computacionales, registrar y consultar datos almacenados en una base
                de datos de Mongo Atlas y desplegar Art4School para la consulta y registro de articulos cientificos, al
                alcance de alumnos y administradores</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="/images/basededatos.png" class="img-fluid" alt="member 1">
        </div>
        <div class="col-md-4">
            <img src="images/buscar.png" class="img-fluid" alt="member 1">
        </div>
        <div class="col-md-4">
            <img src="images/web.png" class="img-fluid" alt="member 1">
        </div>
    </div>

</section>

