
<h1 class="display-4"> Bienvenido a la base de datos de articulos cientificos del ITSM Art4School</h1>
<p class="lead"> En este buscador podras encontrar y agregar los articulos cientificos necesarios para tus investigaciones y tareas. ¡HECHO POR ALUMNOS Y PARA ALUMNOS!</p>
<hr class="my-4">
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, dolorum dolorem incidunt itaque reiciendis repellendus in voluptatibus, laboriosam consequatur nesciunt labore esse illum accusantium modi! Aliquam cumque nulla eum temporibus.</p>
<a href="/IniciaSesion" class="btn btn-primary btn-sm">Presiona aqui para iniciar sesion </a>




{{!-- Este es el cuerpo de mi pantalla principal 
AQUI VA MI ABOUT --}}