<section id="footer" class="bg-dark">
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item footer-menu"><a href="/">Inicio</a></li>
            <li class="list-inline-item footer-menu"><a href="aboutUs">Información</a></li>
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="mailto:212t0437@itsm.edu.mx"><img src="/images/gmail.png" class="img-fluid"></a></li>
            <li class="list-inline-item"><a href="#"><img src="/images/phone.png" class="img-fluid"></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/punkjbh/"><img src="/images/instagram.png" class="img-fluid"></a></li>
        </ul>
        <small>©2022 All Rights Reserved. Created by <a href="https://themesbootstrap.com.mx/" class="font-weight-bold"
                target="_blank" rel="noopener">Themes Bootstrap</a></small>
    </div>
</section>