<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/images/LOGO ART4SCHOOL.png" class="logo-brand"
          alt="logo">Art4School</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <i class="icon ion-navicon-round"></i>

      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" id="home" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutUs" id="aboutus">Contacto del administrador</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {{#if user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Opciones
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/Logout">Cerrar Sesion</a></li>
            </ul>
          </li>
          {{else}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Inicia Sesion
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="nav-item"> <a class="dropdown-item" href="/IniciaSesion">Usuario o administrador</a>
              </li>
            </ul>
          </li>
          {{/if}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<section id="hero">
  <div class="container">
    <div class="content-center topmargin-lg">
    </div>
  </div>
</section>
