<div class="card">
            <div class="card-header">
                <h2 class="text-center">
                    Cambio de Contraseña
                </h2>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <form action="/ChangePassword?_method=PUT" method="post">
                        <input type="hidden" name="_method" value="PUT">

                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Ingrese Contraseña nueva">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="ConfirmPassword" placeholder="Confirme Contraseña nueva"a>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success btn-block" type="submit">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>