<div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2>Recuperar contraseña</h2>
                    </div>
                    <div class="card-body">
                        <form action="/send-email" method="post">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Escribe tu correo electronico y presiona enviar" required autofocus>
                            </div>
                            <div>
                                <button class="btn btn-success btn-block">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>